html, body{
    position: relative;
    height: 100%;
    margin: 0;
    padding: 0;
}


#AboutMe, #Skills, #Project{
    height: 33%;
}

#Project{
    background-color: #1e7e34;
}


.homeTitle{
    font-family: 'Song Myung', serif;
    text-align: center;
    color: #E85A4F;
}

.title{
    color: #E85A4F;
    font-family: 'Song Myung', serif;
    text-align: center;
    position: relative;
    top: 40%;
}

.description{
    font-family: 'Lato', sans-serif;
    margin: auto;
    position: relative;
    top: 50%;
}

.imageCol{
    position: relative;
    top: 45%;
}
#HomeDesc{
    text-align: center;
    position: relative;
    top: 15%;
}

#ProjectDesc{
    text-align: center;
}

.infoBlock, .infoRow{
    height: 100%;
}

#content{
    height: 300%;
}

.carousel-inner img{
    display: block;
    margin-left: auto;
    margin-right: auto;

}

#content{

    background-color: white;
}

/*Everything pertaining to the footer*/
#footerContent{

    text-align: center;
    letter-spacing: 10px;
}

.footer{
    width: 100%;
    bottom: 0;
    margin: 0;
    background-color: #8E8D8A;
    height: 80px;
    font-size: 45px;
}



a:link{
    text-decoration: none;
}

a:hover{
    opacity: 0.7;
    text-decoration: none;

}
